.header {
    background-color: black;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    height: 55px;
    z-index: 1000;
}

.headerScrolled {
    background-color: white;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    height: 55px;
    z-index: 1000;
}

.NavBar {
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.ulNav {
    list-style: none;
    display: flex;
    justify-items: center;
    align-items: center;
    column-gap: 50px;
}

.imgNav {
    width: 35px;
    height: 35px;
}

.makoski {
    font-family: 'Tilt Warp', cursive;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



.NavButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    max-width: 600px;
}

.socials {
    background-color: black;
}

.socialsLogo {
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 20px;
}

.liNav:hover {
    scale: 1.2;
    transition: 0.4s;
}
.socialsLogo:hover {
    scale: 1.2;
    transition: 0.4s;
}
.pNav:hover {
    color: rgb(167, 13, 13);
    transition: 0.3s;
}


@media (max-width: 720px) {
    .header {
        position: absolute;
    }
    .NavBar {
        max-width: 720px;
    }
    .NavButtons {
        visibility: hidden;
        min-width: 0px;
        width: 0px;
    }
}